@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

*, *::after, *::before {
  box-sizing: border-box;
}


/* .gradient {
  background: rgb(242,98,99);
  background: -moz-linear-gradient(244.83deg, #F26263 54.68%, #3BC9F3 132.14%);
  background: -webkit-linear-gradient(244.83deg, #F26263 54.68%, #3BC9F3 132.14%);
  background: linear-gradient(244.83deg, #F26263 54.68%, #3BC9F3 132.14%);
} */


